@font-face {
  font-family: 'Avenir Next LT Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-Cn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Heavy Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Heavy Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-HeavyCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Medium Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-MediumCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Regular'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Ultra Light Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Bold'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Bold Condensed'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-BoldCn.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Bold Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-BoldCnIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-CnIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiCnIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Demi Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Demi Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-DemiIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Heavy Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-It.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Medium Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Medium Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-MediumCnIt.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), url('/css/fonts/avenir-next-lt-pro/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Avenir Next LT Pro Regular';
  // font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
  //   Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  //   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: $font-regular;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: $color-black;
  background-color: $color-white;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: $spacer-6;
  padding-right: $spacer-6;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@include mobile-tablet {
  .content-wrapper {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
  }

  .hide-mobile-tablet {
    display: none;
  }

  .only-mobile-tablet {
    display: block;
  }
}

@include mobile {
  .content-wrapper {
    padding-left: $spacer-3;
    padding-right: $spacer-3;
  }

  .desk-visible {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}
