.beiersdorf {
  .banner {
    margin-bottom: 14px;
  }
  .search p {
    width: auto;
  }
  .abt-shop {
    margin-bottom: 40px;
  }
  .menu-bar .lang {
    margin-bottom: 0;
  }
  .cx-shpcart {
    scroll-behavior: smooth;
    cursor: pointer;
  } 
  .cx-shpcart::-webkit-scrollbar {
    margin-top: 20px;
    height: 6px;
  }
  .cx-shpcart::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr);
    /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  .cx-shpcart::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkblue-clr);
  }
  .cx-shpcart::-webkit-scrollbar-track {
    background-color: var(--secondary-clr);
    /* Background of the scrollbar track */
    border-radius: 10px;
  }
  .cx-ordrdetails__btn {
    background-color: var(--primary-clr);
    color: #fff;
    text-align: center;
    border: 1px solid var(--primary-clr);
    border-radius: 4px;
    padding: 10px 24px;
    margin-top: 26px;
    float: right;
    &:hover {
      background-color: var(--darkblue-clr);
      color: #fff;
      cursor: pointer;
      border: 1px solid var(--darkblue-clr);
    }
  }
  @include tablet-pro {
    .owl-carousel .owl-stage {
      display: flex;
      height: 222px;
    }
  }

  @include mobile-tablet {

  }
  
  @include tablet {
    .owl-carousel .owl-stage {
      display: flex;
      height: 222px;
    }
    .banner {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .bi-plp .bi-bgclr .top-row {
      flex-direction: column;
    }
    #filter-expand-mbl {
      margin-top: -30px;
    }
    .cx-shpcart__outer {
      min-width: 700px;
    }
    .cx-shpcart {
      overflow-x: scroll;
    }
    .cx-shpingcart__left {
      width: 60%;
    }
    
    .cx-shpingcart__right {
      width: 40%;
    }
    .bi-pdpres {
      display: flex;
      flex-direction: column;
    }
    .cx-prdct-wrap {
      display: flex;
    }
    .bd-colmd {
      flex: 0 0 80.3%;
      max-width: 80.3%;
    }
    .mobile-price-wrap table > tbody > tr {
      flex-direction: row;
      justify-content: space-between;
    }
    .bi-pdplft-tab {
      width: 390px;
      background-color: #fff;
      padding-right: 30px;
      padding-bottom: 10px;
      border-radius: 12px;
    }
    .b-price {
      margin-top: 0;
    }
    .bi-pdp .mobile-price {
      padding-bottom: 0;
    }
    .mobile-price-wrap table > tbody > tr > td > table {
      margin-left: 4px !important;
    }

  }
  
  @include mobile {
    // home page style 
    .navbar-expand-lg .navbar-collapse {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .lang {
      width: 100% !important;
      position: static;
      gap: 10px;
    }
    .search {
      margin-top: 0;
    }
    .sec-menu {
      height: auto !important;
      ul {
        flex-direction: column;
      }
    } 
    .menu-bar .lang {
      margin-bottom: 10px;
    }
    .owl-carousel .owl-stage {
      display: flex;
      height: 175px;
    }
    .banner {
      margin-top: 42px;
      margin-bottom: 0;
    }
    .abt-shop {
      margin-bottom: 10px;
    }
    .menu-icon {
      display: block;
      top: 50%;
    }
    .sec-menu {
      display: none;
    }
    .mobile-price-wrap table > tbody > tr {
      flex-direction: row;
      align-items: baseline;
    }
    .mobile-price-wrap table > tbody > tr > td > table {
      margin-left: 4px !important;
    }

    //plp
    .list-show .product-box ul:nth-child(odd) {
      padding-right: 0;
    }
    .listing .book-name-and-buy {
      padding-left: 10px;
    }
    .bread-crumb {
      margin-left: 15px;
    }

    //order-details
    .bi-order__right {
      word-wrap: break-word;
      font-size: 14px;
    }
    .cx-ordrdetails__btn {
      float: left;
      width: 80%;
      margin-bottom: 20px;
    }
    .bi-order__btn .bi-btn {
      margin-left: 0;
      width: 80%;
    }
    .bi-order__sub {
      font-size: 16px;
    }
  }
}