.beiersdorf {
  .banner {
    margin-bottom: 14px;
  }
  .search p {
    width: auto;
  }
  .abt-shop {
    margin-bottom: 40px;
  }
  .menu-bar .lang {
    margin-bottom: 0;
  }
  .cx-shpcart {
    scroll-behavior: smooth;
    cursor: pointer;
  } 
  .cx-shpcart::-webkit-scrollbar {
    margin-top: 20px;
    height: 6px;
  }
  .cx-shpcart::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr);
    /* Color of the scrollbar thumb */
    border-radius: 10px;
  }
  .cx-shpcart::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkblue-clr);
  }
  .cx-shpcart::-webkit-scrollbar-track {
    background-color: var(--secondary-clr);
    /* Background of the scrollbar track */
    border-radius: 10px;
  }
  .cx-ordrdetails__btn {
    background-color: var(--primary-clr);
    color: #fff;
    text-align: center;
    border: 1px solid var(--primary-clr);
    border-radius: 4px;
    padding: 10px 24px;
    margin-top: 26px;
    float: right;
    &:hover {
      background-color: var(--darkblue-clr);
      color: #fff;
      cursor: pointer;
      border: 1px solid var(--darkblue-clr);
    }
  }
  .bi-closeimg input {
    background-position: 0 20px;
  }

  /* Firefox-specific style */
  @-moz-document url-prefix() {
    select option {
      font-family: Arial, sans-serif;
    }
  }

  // Styling for safari dropdown-item
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg fill='%23000000' height='800px' width='800px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) center;
    background-size: 10px 10px;
    padding-right: 24px !important;
  }
  .bi-lang-select__cnt select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='62px' height='37px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:0.909' fill='%23fefffe' d='M 3.5,-0.5 C 4.5,-0.5 5.5,-0.5 6.5,-0.5C 14.453,7.11758 22.453,14.7842 30.5,22.5C 38.547,14.7842 46.547,7.11758 54.5,-0.5C 55.5,-0.5 56.5,-0.5 57.5,-0.5C 58.795,0.488369 60.1283,1.48837 61.5,2.5C 61.5,4.83333 61.5,7.16667 61.5,9.5C 52.1667,18.1667 43.1667,27.1667 34.5,36.5C 31.8333,36.5 29.1667,36.5 26.5,36.5C 17.8333,27.1667 8.83333,18.1667 -0.5,9.5C -0.5,7.16667 -0.5,4.83333 -0.5,2.5C 0.871651,1.48837 2.20498,0.488369 3.5,-0.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 10px 6px;
  }

  @include tablet-pro {
    .owl-carousel .owl-stage {
      display: flex;
      height: 222px;
    }
    .mobile-price-wrap table > tbody > tr > td > table {
      margin-left: 5px !important;
    }
  }
  
  @include tablet {
    // header style
    #header .navbar {
      flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end;
      display: flex;
      gap: 50px;
  }
    .left-box.filter-mbl {
      width: 280px;
    }
    .owl-carousel .owl-stage {
      display: flex;
      height: 222px;
    }
    .banner {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .bi-plp .bi-bgclr .top-row {
      flex-direction: column;
    }
    #filter-expand-mbl {
      margin-top: -30px;
    }
    .cx-shpcart__outer {
      min-width: 700px;
    }
    .cx-shpcart {
      overflow-x: scroll;
    }
    .cx-shpingcart__left {
      width: 60%;
    }
    
    .cx-shpingcart__right {
      width: 40%;
    }
    .bi-pdpres {
      display: flex;
      flex-direction: column;
    }
    .cx-prdct-wrap {
      display: flex;
    }
    .bd-colmd {
      flex: 0 0 80.3%;
      max-width: 80.3%;
    }
    .mobile-price-wrap table > tbody > tr {
      flex-direction: row;
      justify-content: space-between;
    }
    .bi-pdplft-tab {
      width: 390px;
      background-color: #fff;
      padding-right: 30px;
      padding-bottom: 10px;
      border-radius: 12px;
    }
    .b-price {
      margin-top: 0;
    }
    .bi-pdp .mobile-price {
      padding-bottom: 0;
    }
    .mobile-price-wrap table > tbody > tr > td > table {
      margin-left: 4px !important;
    }
    .sort label {
      width: 30%;
    }
    /* plp -dx trackbar */
    .bi-trackdx {
      .dxeTBHSys  .dxeTBContentContainerSys {
        width: 100% !important;
      }
      .dxeTBTrack_MaterialCompact {
        width: 110px !important;
      }
    }
  }
  
  @include mobile {
    //header style
    .form-inline.my-2.my-lg-8 {
      margin-top: -42px !important;
    }
    .menu-bar .navbar {
      margin-top: 20px !important;
    }
    .bd-profile {
      margin-left: 10px;
    }
    // home page style 
    .navbar-expand-lg .navbar-collapse {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .lang {
      width: 100% !important;
      position: static;
      gap: 10px;
    }
    .search {
      margin-top: 0;
    }
    .sec-menu {
      height: auto !important;
      ul {
        flex-direction: column;
      }
    } 
    .menu-bar .lang {
      margin-bottom: 10px;
    }
    .owl-carousel .owl-stage {
      display: flex;
      height: 175px;
    }
    .banner {
      margin-top: 20px;
      margin-bottom: 0;
    }
    .abt-shop {
      margin-bottom: 10px;
    }
    .menu-icon {
      display: block;
      top: 74%;
    }
    .sec-menu {
      display: none;
    }
    .mobile-price-wrap table > tbody > tr {
      flex-direction: row;
      align-items: baseline;
    }
    .mobile-price-wrap table > tbody > tr > td > table {
      margin-left: 4px !important;
    }

    //plp
    .left-box.filter-mbl {
      max-height: 600px;
      width: 100%;
      border: 0;
      padding: 0;
    }
    .sort label {
      width: 50%;
    }
    .list-show .product-box ul:nth-child(odd) {
      padding-right: 0;
    }
    .listing .book-name-and-buy {
      padding-left: 10px;
    }
    .ab-cart {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    /* plp-trackbar */
    .bi-trackdx {
      .dxeTBHSys  .dxeTBContentContainerSys {
        width: 100% !important;
      }
      .dxeTBTrack_MaterialCompact {
        width: 240px !important;
      }
    }

    //order-details
    .bi-order__right {
      word-wrap: break-word;
      font-size: 14px;
    }
    .cx-ordrdetails__btn {
      float: left;
      width: 90%;
      margin-bottom: 20px;
    }
    .bi-order__btn .bi-btn {
      margin-left: 0;
      width: 90%;
    }
    .bi-order__sub {
      font-size: 16px;
    }
  }
}